/* 移除瀏覽器預設 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html 與 body 滿版 */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  background-color: #ffffff;
}


#root {
  width: 100%;
  max-width: none; 
  margin: 0;
  padding: 0;
  display: block; 
}